*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #bdae82;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/*common*/

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

/*Form*/

input,
textarea,
button,
select {
  font: inherit inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  background: transparent;
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font: 400 20px "Inter", sans-serif;
  height: 100%;
  color: #ffffff;
}

.wrapper {
  background: #000000;
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
  overflow-x: hidden;
}

button {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

button:hover,
button:focus {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  -webkit-transform: translatey(-0.2em);
  -ms-transform: translatey(-0.2em);
  transform: translatey(-0.2em);
}

.btn:active {
  opacity: 0.8;
}

.btn {
  font: 20px "Inter", sans-serif;
  background: #000000;
  max-width: 220px;
  width: 100%;
  height: 55px;
  color: #bdae82;
  border: 2px solid #bdae82;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.btn:hover {
  color: #ffffff;
}

.headline {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 364px;
}

.headline__line {
  background: #bdae82;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 2px;
}

.headline__description {
  padding: 9px 20px;
}

.headline__subtitle {
  font: 700 32px/40px "Merriweather", serif;
  color: #bdae82;
}

.none {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
  padding: 0 64px 0 60px;
  position: relative;
}

.header__logo {
  z-index: 2;
}

.header__img path {
  cursor: pointer;
  -webkit-transition: fill 0.5s;
  -o-transition: fill 0.5s;
  transition: fill 0.5s;
}

.header__img:hover path {
  fill: #bdae82;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__lists {
  background: black;
  padding: 134px 0 0 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -150%;
  z-index: 2;
  height: 100vh;
  width: 80.73vw;
  font-size: 20px;
  z-index: 2;
  -webkit-transition: right 1s;
  -o-transition: right 1s;
  transition: right 1s;
}

.header__lists.active {
  right: 0;
}

.header__list {
  font-size: 34.8235px;
  line-height: 73px;
}

.header__list a {
  display: inline-block;
  line-height: 50px;
  cursor: pointer;
}

.header__list:hover {
  color: #bdae82;
}

.header__list + .header__list {
  margin-top: 16px;
}

.header__languages {
  font-weight: 700;
  line-height: 250%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.header__languages span:nth-child(2) {
  margin-left: -10px;
  margin-right: 19px;
}

.header__language {
  cursor: pointer;
  margin-right: 20px;
}

.header__language_active {
  color: #bdae82;
}

.header__menu-btn {
  display: block;
  width: 50px;
  position: relative;
  z-index: 3;
  height: 28px;
  padding-top: 10px;
  cursor: pointer;
}

.header__menu-btn span,
.header__menu-btn::before,
.header__menu-btn::after {
  background: #fff;
  left: 0;
  position: absolute;
  height: 3px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu-btn:hover span,
.header__menu-btn:hover::before,
.header__menu-btn:hover::after {
  background: #bdae82;
}

.header__menu-btn::before,
.header__menu-btn::after {
  content: "";
}

.header__menu-btn::before {
  top: 0;
}

.header__menu-btn::after {
  bottom: 0;
}

.header__menu-btn span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
  -ms-transform: scale(1) translate(0px, -50%);
  transform: scale(1) translate(0px, -50%);
}

.header__menu-btn.active span {
  -webkit-transform: scale(0) translate(0px, -50%);
  -ms-transform: scale(0) translate(0px, -50%);
  transform: scale(0) translate(0px, -50%);
}

.header__menu-btn.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
  -ms-transform: rotate(-45deg) translate(0px, -50%);
  transform: rotate(-45deg) translate(0px, -50%);
}

.header__menu-btn.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
  -ms-transform: rotate(45deg) translate(0px, 50%);
  transform: rotate(45deg) translate(0px, 50%);
}

.hero {
  background: url("../img/bg.png") no-repeat 0 0/cover;
  padding-left: 60px;
  height: 590px;
  position: relative;
  top: -90px;
  padding-top: 168px;
}

.hero__title {
  font: 32px/200% "Merriweather", serif;
  padding-bottom: 20px;
}

.hero__description {
  max-width: 390px;
  margin-bottom: 60px;
}

.hero__btn {
  background: #bdae82;
  color: #000000;
}

.hero,
.contacts {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.portfolio__img {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.skills {
  padding-top: 1px;
  padding-left: 60px;
  padding-right: 59px;
  margin-bottom: 97px;
}

.skills__title {
  margin-bottom: 54px;
}

.skills__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skills__card {
  margin-bottom: 76px;
}

.work-skill {
  max-width: 300px;
  text-align: center;
}

.work-skill__img {
  margin-bottom: 30px;
}

.work-skill__title {
  font-weight: 700;
  line-height: 200%;
  margin-bottom: 20px;
}

.work-skill__description {
  font-size: 18px;
  line-height: 22px;
}

.portfolio {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 90px;
}

.portfolio__title {
  margin-bottom: 60px;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.portfolio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio__buttons + .portfolio__buttons {
  margin-top: 5px;
}

.portfolio__button + .portfolio__button {
  margin-left: 5px;
}

.portfolio__button_active {
  background: #bdae82;
  color: #000000;
}

.portfolio__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.portfolio__images + .portfolio__images {
  margin-top: 25px;
}

.portfolio__img-wrapper {
  overflow: hidden;
}

.portfolio__img {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio__img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio__img-wrapper + .portfolio__img-wrapper {
  margin-top: 25px;
}

.video {
  margin-bottom: 91px;
}

.video__title {
  margin-bottom: 62px;
  padding-left: 10px;
  padding-right: 10px;
}

.video__container {
  position: relative;
}

.video__content {
  height: 418px;
  position: relative;
  overflow: hidden;
}

.video__content:hover .controls {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.video__player {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video__play-icon path {
  -webkit-transition: fill 0.7s;
  -o-transition: fill 0.7s;
  transition: fill 0.7s;
}

.video__play-icon:hover path {
  fill: #bdae82;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(100%) translateY(-5px);
  -ms-transform: translateY(100%) translateY(-5px);
  transform: translateY(100%) translateY(-5px);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.controls__bar {
  background: #000000;
  height: 10px;
  top: 0;
  left: 0;
  width: 100%;
}

.controls__beige {
  background: #bdae82;
  height: 10px;
}

.controls__play {
  padding: 10px;
}

.controls__play button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.controls__play button:before {
  background: url("../img/play.svg") no-repeat;
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
}

.controls__play button.play:before {
  background: url("../img/play.svg");
  content: "";
}

.controls__play button.pause:before {
  background: url("../img/pause.svg");
  content: "";
}

.controls__volume {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.controls__volume:hover input[type=range] {
  width: 100px;
  opacity: 1;
}

.controls__volume button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.controls__volume button:before {
  background: url("../img/volume.svg") no-repeat;
  content: "";
  width: 36px;
  height: 36px;
  display: inline-block;
}

.controls__volume button.volume:before {
  background: url("../img/volume.svg");
  content: "";
}

.controls__volume button.mute:before {
  background: url("../img/mute.svg");
  content: "";
}

input[type=range] {
  -webkit-appearance: none !important;
  background: #b3b3b3;
  height: 7px;
  margin-left: 14px;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #bdae82;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.price {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 80px;
}

.price__title {
  margin-bottom: 60px;
}

.price__card + .price__card {
  margin-top: 50px;
}

.service {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 420px;
  border: 3px solid #bdae82;
  text-align: center;
}

.service__title {
  font: 700 28px/56px "Merriweather", serif;
}

.service__price {
  font: 700 24px/48px "Merriweather", serif;
  color: #bdae82;
  margin: 20px 0;
}

.service__description {
  font-size: 18px;
  line-height: 36px;
  margin: 0;
}

.service__btn {
  background: #bdae82;
  margin-top: 40px;
  color: #000000;
}

.contacts {
  background: url("../img/contacts.png") no-repeat 0 0/cover;
  height: 600px;
}

.contacts__container {
  padding-top: 60px;
}

.contacts__title {
  font: 700 32px/64px "Merriweather", serif;
  text-align: center;
  color: #bdae82;
  margin-bottom: 40px;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.contacts__field {
  font: 400 20px/40px "Inter", sans-serif;
  background: transparent;
  max-width: 450px;
  width: 100%;
  padding: 3px 0 3px 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  color: #bdae82;
}

.contacts textarea {
  font-family: "Merriweather", serif;
  min-height: 100px;
}

.contacts__field + .contacts__field {
  margin-top: 20px;
}

.contacts__btn {
  background: #bdae82;
  color: #000000;
  margin-top: 30px;
}

::-webkit-input-placeholder {
  color: #bdae82;
}

::-moz-placeholder {
  color: #bdae82;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bdae82;
}

::-ms-input-placeholder {
  color: #bdae82;
}

::placeholder {
  color: #bdae82;
}

.footer {
  padding: 28px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__links + .footer__links {
  margin-top: 17px;
}

.footer__text {
  margin-right: 19.91px;
}

.footer__link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #bdae82;
}

.footer__icons {
  margin-top: 20px;
  max-width: 180px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__icon {
  width: 32px;
  height: 32px;
}

.footer__icon path {
  -webkit-transition: fill 0.5s;
  -o-transition: fill 0.5s;
  transition: fill 0.5s;
  cursor: pointer;
}

.footer__icon:hover path {
  fill: #bdae82;
}

@supports (-webkit-appearance:none) {
  .hero {
    background-image: url("../img/bg.webp");
  }

  .controls__play button:before {
    background-image: url("../img/play.svg");
  }

  .controls__play button.play:before {
    background-image: url("../img/play.svg");
  }

  .controls__play button.pause:before {
    background-image: url("../img/pause.svg");
  }

  .controls__volume button:before {
    background-image: url("../img/volume.svg");
  }

  .controls__volume button.volume:before {
    background-image: url("../img/volume.svg");
  }

  .controls__volume button.mute:before {
    background-image: url("../img/mute.svg");
  }

  .contacts {
    background-image: url("../img/contacts.webp");
  }
}

@media screen and (min-width: 714px) {
  .skills__cards {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (min-width: 769px) {
  .headline {
    max-width: 700px;
  }

  .headline__subtitle {
    font-size: 40px;
    line-height: 80px;
  }

  .header {
    padding: 0 17px 0 20px;
  }

  .header__lists {
    position: static;
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 1px;
    margin-right: 35px;
    width: auto;
    height: auto;
    padding: 0;
  }

  .header__list {
    font-size: 20px;
    line-height: 50px;
  }

  .header__list + .header__list {
    margin-left: 30px;
    margin-top: 0;
  }

  .header__menu-btn {
    display: none;
  }

  .hero {
    height: 910px;
    max-width: 1440px;
    background-image: url("../img/bg-lg.png");
    padding: 250px 0 0 80px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 120px;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .hero__description {
    line-height: 40px;
    min-width: 470px;
    margin-bottom: 25px;
  }

  .skills__cards {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .work-skill__img {
    margin-bottom: 48px;
  }

  .work-skill__title {
    margin-bottom: 24px;
  }

  .work-skill__description {
    line-height: 33px;
  }

  .video__content {
    height: 705px;
  }

  .price {
    padding: 0 20px 100px;
  }

  .price__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .price__card + .price__card {
    margin-top: 0;
  }

  .service {
    margin-bottom: 40px;
    width: 100%;
  }

  .contacts {
    background-image: url("../img/contacts-lg.jpg");
    height: 700px;
  }

  .contacts__container {
    padding-right: 20px;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 80px;
    max-width: 450px;
    text-align: left;
    margin-left: auto;
  }

  .contacts__form {
    max-width: 450px;
    margin-left: auto;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 150px;
    padding: 0 20px;
  }

  .footer__links + .footer__links {
    margin-top: 0;
  }

  .footer__text {
    margin-right: 13.91px;
  }

  .footer__link {
    padding-left: 10px;
  }

  .footer__icons {
    margin-top: 0;
    max-width: 187px;
  }

@supports (-webkit-appearance:none) {
    .hero {
      background-image: url("../img/bg-lg.webp");
    }

    .contacts {
      background-image: url("../img/contacts-lg.webp");
    }
}
}

@media screen and (min-width: 1440px) {
  .skills {
    padding: 0 40px;
    margin-bottom: 26px;
  }

  .skills__cards {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .skills__container {
    max-width: 640px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .portfolio {
    padding-bottom: 90px;
  }

  .portfolio__title {
    margin-bottom: 53px;
  }

  .portfolio__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .portfolio__buttons {
    width: auto;
  }

  .portfolio__buttons + .portfolio__buttons {
    margin-top: 0;
    margin-left: 5px;
  }

  .portfolio__button {
    min-width: 220px;
  }

  .portfolio__gallery {
    height: 1145px;
    padding: 0 20px;
  }

  .portfolio__images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .portfolio__img-wrapper + .portfolio__img-wrapper {
    margin-top: 0;
  }

  .video {
    padding: 0 20px;
    margin-bottom: 90px;
  }

  .video__title {
    margin-bottom: 52px;
  }

  .price {
    padding: 0 20px 100px;
  }

  .price__title {
    margin-bottom: 50px;
  }

  .price__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .service {
    max-width: 450px;
    margin: 0;
  }

@supports (-webkit-appearance:none) {

}
}