*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/*common*/

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

/*Form*/

input,
textarea,
button,
select {
  font: inherit inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  background: transparent;
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font: 400 20px "Inter", sans-serif;
  height: 100%;
  color: #ffffff;
}

.wrapper {
  background: #000000;
  display: none;
  margin: 0 auto;
  max-width: 1440px;
  height: 100%;
  overflow-x: hidden;
}

button {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

button:hover,
button:focus {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
  -webkit-transform: translatey(-0.2em);
  -ms-transform: translatey(-0.2em);
  transform: translatey(-0.2em);
}

.btn:active {
  opacity: 0.8;
}

.btn {
  background: #000000;
  width: 220px;
  height: 55px;
  color: #bdae82;
  border: 2px solid #bdae82;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.btn:hover {
  color: #ffffff;
}

.headline {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 364px;
}

.headline__line {
  background: #bdae82;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 2px;
}

.headline__description {
  padding: 5px 20px;
}

.headline__subtitle {
  font: 700 32px/40px "Merriweather", serif;
  color: #bdae82;
}

.none {
  display: none;
}

.preloader {
  font: 1.5rem sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  background: #010001;
  color: white;
  overflow: hidden;
  z-index: 11111;
}

.preloader__conteiner {
  position: relative;
  width: 300px;
  height: 40px;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-animation: pencil-animation 10s infinite;
  animation: pencil-animation 10s infinite;
}

@-webkit-keyframes pencil-animation {
  0% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  20% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  45% {
    -webkit-transform: translateX(300px) rotate(315deg);
    transform: translateX(300px) rotate(315deg);
  }

  55% {
    -webkit-transform: translateX(300px) rotate(495deg);
    transform: translateX(300px) rotate(495deg);
  }

  100% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
  }
}

@keyframes pencil-animation {
  0% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  20% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  45% {
    -webkit-transform: translateX(300px) rotate(315deg);
    transform: translateX(300px) rotate(315deg);
  }

  55% {
    -webkit-transform: translateX(300px) rotate(495deg);
    transform: translateX(300px) rotate(495deg);
  }

  100% {
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
  }
}

.preloader__ball-point {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #09d56e;
  height: 10px;
  width: 10px;
  border-radius: 50px;
}

.preloader__cap {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-clip-path: polygon(20% 40%, 100% 0%, 100% 100%, 20% 60%);
  clip-path: polygon(20% 40%, 100% 0%, 100% 100%, 20% 60%);
  background: #232123;
  width: 12%;
  height: 100%;
}

.preloader__cap-base {
  position: absolute;
  left: 12%;
  top: 0;
  height: 100%;
  width: 20px;
  background: #232123;
}

.preloader__middle {
  position: absolute;
  left: calc(12% + 20px);
  top: 0;
  height: 100%;
  width: 70%;
  background: #09d56e;
}

.preloader__eraser {
  position: absolute;
  left: calc(82% + 20px);
  top: 0;
  height: 100%;
  width: 11%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #232123;
}

.preloader__line {
  position: relative;
  top: 80px;
  right: 103px;
  height: 10px;
  width: 1000px;
  z-index: -1;
  border-radius: 50px;
  background: #09d56e;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-animation 10s infinite;
  animation: line-animation 10s infinite;
}

@-webkit-keyframes line-animation {
  20% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  45% {
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
  }

  55% {
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
  }

  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

@keyframes line-animation {
  20% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  45% {
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
  }

  55% {
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
  }

  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
}

.preloader__title {
  position: relative;
  top: 150px;
  right: 75px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
  padding: 0 64px 0 60px;
  position: relative;
}

.header__logo {
  background: url("../img/logo.png");
  width: 50px;
  height: 50px;
  -webkit-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
  cursor: pointer;
  z-index: 1;
}

.header__logo:hover {
  background: url("../img/logo_hover.png");
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__lists {
  background: black;
  padding: 134px 0 0 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: -10000px;
  z-index: 2;
  height: 100vh;
  width: 80.73vw;
  font-size: 20px;
  z-index: 2;
  -webkit-transition: right 1s;
  -o-transition: right 1s;
  transition: right 1s;
}

.header__list {
  font-size: 34.8235px;
  line-height: 73px;
}

.header__list a {
  display: inline-block;
  line-height: 50px;
  cursor: pointer;
}

.header__list:hover {
  color: #bdae82;
}

.header__list + .header__list {
  margin-top: 16px;
}

.header__languages {
  font-weight: 700;
  line-height: 250%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.header__languages span:nth-child(2) {
  margin-left: 9px;
  margin-right: 9px;
}

.header__language {
  cursor: pointer;
}

.header__language_active {
  color: #bdae82;
}

.header__btn-line,
.header__btn-line::after,
.header__btn-line::before {
  background: #ffffff;
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 3px;
}

.header__btn-line {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  position: initial;
}

.header__btn-line::before {
  top: 0;
}

.header__btn-line::after {
  bottom: 0;
}

.header__btn-menu {
  position: relative;
  margin-left: 23px;
  cursor: pointer;
  width: 50px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;
}

.header__btn-menu_active .header__btn-line {
  height: 0;
}

.header__btn-menu_active .header__btn-line::before {
  -webkit-transform: rotate(45deg) translate(12px, 12px);
  -ms-transform: rotate(45deg) translate(12px, 12px);
  transform: rotate(45deg) translate(12px, 12px);
}

.header__btn-menu_active .header__btn-line::after {
  -webkit-transform: rotate(-45deg) translate(7px, -5px);
  -ms-transform: rotate(-45deg) translate(7px, -5px);
  transform: rotate(-45deg) translate(7px, -5px);
}

.hero {
  background: url("../img/bg.png") no-repeat 0 0/cover;
  padding-left: 60px;
  height: 590px;
  position: relative;
  top: -90px;
  padding-top: 168px;
}

.hero__title {
  font: 32px/200% "Merriweather", serif;
  padding-bottom: 20px;
}

.hero__description {
  max-width: 390px;
  margin-bottom: 60px;
}

.hero__btn {
  background: #bdae82;
  color: #000000;
}

.hero,
.contacts {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.portfolio__img {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.skills {
  padding-top: 10px;
  padding-left: 70px;
  padding-right: 74px;
  margin-bottom: 84px;
}

.skills__title {
  margin-bottom: 60px;
}

.skills__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skills__card {
  margin-bottom: 76px;
}

.work-skill {
  max-width: 280px;
  text-align: center;
}

.work-skill__img {
  margin-bottom: 30px;
}

.work-skill__title {
  font-weight: 700;
  line-height: 200%;
  margin-bottom: 20px;
}

.work-skill__description {
  font-size: 18px;
  line-height: 22px;
}

.portfolio {
  padding-bottom: 80px;
}

.portfolio__title {
  margin-bottom: 50px;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.portfolio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__buttons + .portfolio__buttons {
  margin-top: 5px;
}

.portfolio__button + .portfolio__button {
  margin-left: 5px;
}

.portfolio__button_active {
  background: #bdae82;
  color: #000000;
}

.portfolio__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.portfolio__images + .portfolio__images {
  margin-top: 25px;
}

.portfolio__img-wrapper {
  overflow: hidden;
}

.portfolio__img {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio__img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio__img-wrapper + .portfolio__img-wrapper {
  margin-top: 25px;
}

.video {
  margin-bottom: 80px;
}

.video__title {
  margin-bottom: 50px;
}

.video__container {
  position: relative;
}

.video__content {
  height: 418px;
  position: relative;
  overflow: hidden;
}

.video__content:hover .controls {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.video__player {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video__play {
  position: absolute;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: calc(50% - 75px);
}

.video__play-icon {
  background: url("../img/play_unvisited.png") no-repeat;
  margin: 0 auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.video__play-icon:hover {
  background: url("../img/play_hover.png");
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateY(100%) translateY(-5px);
  -ms-transform: translateY(100%) translateY(-5px);
  transform: translateY(100%) translateY(-5px);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.controls__bar {
  background: #000000;
  height: 10px;
  top: 0;
  left: 0;
  width: 100%;
}

.controls__beige {
  background: #bdae82;
  height: 10px;
}

.controls__play {
  padding: 10px;
}

.controls__play button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.controls__play button:before {
  background: url("../img/play.svg") no-repeat;
  content: "";
  width: 30px;
  height: 30px;
  display: inline-block;
}

.controls__play button.play:before {
  background: url("../img/play.svg");
  content: "";
}

.controls__play button.pause:before {
  background: url("../img/pause.svg");
  content: "";
}

.controls__volume {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.controls__volume:hover input[type=range] {
  width: 100px;
  opacity: 1;
}

.controls__volume button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.controls__volume button:before {
  background: url("../img/volume.svg") no-repeat;
  content: "";
  width: 36px;
  height: 36px;
  display: inline-block;
}

.controls__volume button.volume:before {
  background: url("../img/volume.svg");
  content: "";
}

.controls__volume button.mute:before {
  background: url("../img/mute.svg");
  content: "";
}

input[type=range] {
  -webkit-appearance: none !important;
  background: #b3b3b3;
  height: 7px;
  margin-left: 14px;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #bdae82;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.price {
  padding-bottom: 80px;
}

.price__title {
  margin-bottom: 50px;
}

.price__card + .price__card {
  margin-top: 50px;
}

.service {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 420px;
  border: 3px solid #bdae82;
  text-align: center;
}

.service__title {
  font: 700 28px/56px "Merriweather", serif;
}

.service__price {
  font: 700 24px/48px "Merriweather", serif;
  color: #bdae82;
  margin: 20px 0;
}

.service__description {
  font-size: 18px;
  line-height: 36px;
  margin: 0;
}

.service__btn {
  background: #bdae82;
  margin-top: 40px;
  color: #000000;
}

.contacts {
  background: url("../img/contacts.png") no-repeat 0 0/cover;
  height: 600px;
}

.contacts__container {
  padding-top: 60px;
}

.contacts__title {
  font: 700 32px/64px "Merriweather", serif;
  text-align: center;
  color: #bdae82;
  margin-bottom: 40px;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__field {
  background: transparent;
  max-width: 450px;
  width: 100%;
  padding: 3px 0 3px 20px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  line-height: 40px;
  color: #bdae82;
}

.contacts textarea {
  min-height: 100px;
}

.contacts__field + .contacts__field {
  margin-top: 20px;
}

.contacts__btn {
  background: #bdae82;
  color: #000000;
  margin-top: 30px;
}

::-webkit-input-placeholder {
  color: #bdae82;
}

::-moz-placeholder {
  color: #bdae82;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bdae82;
}

::-ms-input-placeholder {
  color: #bdae82;
}

::placeholder {
  color: #bdae82;
}

.footer {
  padding: 28px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__links + .footer__links {
  margin-top: 17px;
}

.footer__text {
  margin-right: 19.91px;
}

.footer__link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #bdae82;
}

.footer__icons {
  margin-top: 20px;
  max-width: 180px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__icon {
  width: 32px;
  height: 32px;
  -webkit-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

[data-page=inst] {
  background: url("../img/inst.png");
}

[data-page=inst]:hover {
  background: url("../img/inst-hover.png");
}

[data-page=fb] {
  background: url("../img/fb.png");
}

[data-page=fb]:hover {
  background: url("../img/fb-hover.png");
}

[data-page=tw] {
  background: url("../img/tw.png");
}

[data-page=tw]:hover {
  background: url("../img/tw-hover.png");
}

[data-page=pint] {
  background: url("../img/pinterest.png");
}

[data-page=pint]:hover {
  background: url("../img/pinterest-hover.png");
}

@supports (-webkit-appearance:none) {
  .header__logo {
    background-image: url("../img/logo.webp");
  }

  .header__logo:hover {
    background-image: url("../img/logo_hover.webp");
  }

  .hero {
    background-image: url("../img/bg.webp");
  }

  .video__play-icon {
    background-image: url("../img/play_unvisited.webp");
  }

  .video__play-icon:hover {
    background-image: url("../img/play_hover.webp");
  }

  .controls__play button:before {
    background-image: url("../img/play.svg");
  }

  .controls__play button.play:before {
    background-image: url("../img/play.svg");
  }

  .controls__play button.pause:before {
    background-image: url("../img/pause.svg");
  }

  .controls__volume button:before {
    background-image: url("../img/volume.svg");
  }

  .controls__volume button.volume:before {
    background-image: url("../img/volume.svg");
  }

  .controls__volume button.mute:before {
    background-image: url("../img/mute.svg");
  }

  .contacts {
    background-image: url("../img/contacts.webp");
  }

  [data-page=inst] {
    background-image: url("../img/inst.webp");
  }

  [data-page=inst]:hover {
    background-image: url("../img/inst-hover.webp");
  }

  [data-page=fb] {
    background-image: url("../img/fb.webp");
  }

  [data-page=fb]:hover {
    background-image: url("../img/fb-hover.webp");
  }

  [data-page=tw] {
    background-image: url("../img/tw.webp");
  }

  [data-page=tw]:hover {
    background-image: url("../img/tw-hover.webp");
  }

  [data-page=pint] {
    background-image: url("../img/pinterest.webp");
  }

  [data-page=pint]:hover {
    background-image: url("../img/pinterest-hover.webp");
  }
}

@media screen and (min-width: 705px) {
  .skills__cards {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

@supports (-webkit-appearance:none) {

}
}

@media screen and (min-width: 769px) {
  .headline {
    max-width: 700px;
  }

  .headline__subtitle {
    font-size: 40px;
    line-height: 80px;
  }

  .header {
    padding: 0 17px 0 20px;
  }

  .header__lists {
    position: static;
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: 32px;
    width: auto;
    height: auto;
    padding: 0;
  }

  .header__list {
    font-size: 20px;
    line-height: 50px;
  }

  .header__list + .header__list {
    margin-left: 30px;
    margin-top: 0;
  }

  .header__btn-menu {
    display: none;
  }

  .hero {
    height: 910px;
    max-width: 1440px;
    background-image: url("../img/bg-lg.png");
    padding: 250px 0 0 80px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 120px;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .hero__description {
    line-height: 40px;
    min-width: 470px;
    margin-bottom: 25px;
  }

  .skills__cards {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .video__content {
    height: 705px;
  }

  .price {
    padding: 0 20px 100px;
  }

  .price__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .price__card + .price__card {
    margin-top: 0;
  }

  .service {
    margin-bottom: 40px;
    width: 100%;
  }

  .contacts {
    background-image: url("../img/contacts-lg.jpg");
    height: 700px;
  }

  .contacts__container {
    padding-right: 20px;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 80px;
    max-width: 450px;
    text-align: left;
    margin-left: auto;
  }

  .contacts__form {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
  }

  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 150px;
    padding: 0 20px;
  }

  .footer__links + .footer__links {
    margin-top: 0;
  }

  .footer__icons {
    margin-top: 0;
  }

@supports (-webkit-appearance:none) {
    .hero {
      background-image: url("../img/bg-lg.webp");
    }

    .contacts {
      background-image: url("../img/contacts-lg.webp");
    }
}
}

@media screen and (min-width: 1440px) {
  .skills {
    padding: 0 40px;
    margin-bottom: 110px;
  }

  .skills__cards {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .skills__container {
    max-width: 640px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .portfolio {
    padding-bottom: 100px;
  }

  .portfolio__title {
    margin-bottom: 60px;
  }

  .portfolio__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .portfolio__buttons + .portfolio__buttons {
    margin-top: 0;
    margin-left: 5px;
  }

  .portfolio__gallery {
    height: 1145px;
    padding: 0 20px;
  }

  .portfolio__images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .portfolio__img-wrapper + .portfolio__img-wrapper {
    margin-top: 0;
  }

  .video {
    padding: 0 20px;
    margin-bottom: 100px;
  }

  .video__title {
    margin-bottom: 60px;
  }

  .price {
    padding: 0 20px 100px;
  }

  .price__title {
    margin-bottom: 60px;
  }

  .price__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .service {
    max-width: 450px;
    margin: 0;
  }

@supports (-webkit-appearance:none) {

}
}