.contacts {
    background-image: url("../assets/img/contacts.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    @include for-middle-up {
        background-image: url("../assets/img/contacts-lg.jpg");
        height: 700px;
    }
    &__container {
        padding-top: 60px;
        @include for-middle-up {
            padding-right: 20px;
        }
    }

    &__title {
        font-family: $merriweather;
        font-weight: $weight-bold;
        font-size: 32px;
        line-height: 64px;
        text-align: center;
        color: $color-beige;
        margin-bottom: 40px;
        @include for-middle-up {
            font-size: 40px;
            line-height: 80px;
            max-width: 450px;
            text-align: left;
            margin-left: auto;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include for-middle-up {
            align-items: end;
        }
    }

    &__field {
        max-width: 450px;
        width: 100%;
        padding: 3px 0 3px 20px;
        background-color: transparent;
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid $color-beige;
        line-height: 40px;
        color: $color-beige;
    }
    textarea {
        min-height: 100px;
    }
    &__field + &__field {
        margin-top: 20px;
    }

    &__btn {
        background-color: $color-beige;
        color: $color-black;
        margin-top: 30px;
    }
}

::-webkit-input-placeholder {
    color: $color-beige;
}
:-moz-placeholder {
    color: $color-beige;
    opacity: 1;
}
::-moz-placeholder {
    color: $color-beige;
    opacity: 1;
}
:-ms-input-placeholder {
    color: $color-beige;
}
::-ms-input-placeholder {
    color: $color-beige;
}
::placeholder {
    color: $color-beige;
}
