.footer {
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-middle-up {
        flex-direction: row;
        justify-content: space-between;
        height: 150px;
        padding: 0 20px;
    }
    &__links + &__links {
        margin-top: 17px;
        @include for-middle-up {
            margin-top: 0;
        }
    }

    &__text {
        margin-right: 19.91px;
    }

    &__link {
        transition: color 0.3s;
        &:hover {
            color: $color-beige;
        }
    }

    &__icons {
        margin-top: 20px;
        max-width: 180px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include for-middle-up {
            margin-top: 0;
        }
    }
    &__icon {
        width: 32px;
        height: 32px;
        transition: background-image 0.3s;
    }
}

[data-page="inst"] {
    background-image: url("../assets/img/inst.png");
    &:hover {
        background-image: url("./assets/img/inst-hover.png");
    }
}
[data-page="fb"] {
    background-image: url("./assets/img/fb.png");
    &:hover {
        background-image: url("./assets/img/fb-hover.png");
    }
}
[data-page="tw"] {
    background-image: url("./assets/img/tw.png");
    &:hover {
        background-image: url("./assets/img/tw-hover.png");
    }
}
[data-page="pint"] {
    background-image: url("./assets/img/pinterest.png");
    &:hover {
        background-image: url("./assets/img/pinterest-hover.png");
    }
}
