.hero {
    padding-left: 60px;
    background-image: url("../assets/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 590px;
    position: relative;
    top: -90px;
    padding-top: 168px;

    @include for-middle-up {
        height: 910px;
        max-width: $lg;
        background-image: url("../assets/img/bg-lg.png");
        padding: 250px 0 0 80px;
    }
    &__title {
        font-family: $merriweather;
        font-size: 32px;
        line-height: 200%;
        padding-bottom: 20px;
        @include for-middle-up {
            font-size: 60px;
            line-height: 120px;
            font-weight: $weight-bold;
            padding-bottom: 10px;
        }
    }

    &__description {
        max-width: 390px;
        margin-bottom: 60px;
        @include for-middle-up {
            line-height: 40px;
            min-width: 470px;
            margin-bottom: 25px;
        }
    }

    &__btn {
        background-color: $color-beige;
        color: $color-black;
    }
}
