.portfolio {
    padding-bottom: 80px;
    @include for-large-up {
        padding-bottom: 100px;
    }

    &__title {
        margin-bottom: 50px;

        @include for-large-up {
            margin-bottom: 60px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        @include for-large-up {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__buttons {
        display: flex;
    }
    &__buttons + &__buttons {
        margin-top: 5px;
        @include for-large-up {
            margin-top: 0;
            margin-left: 5px;
        }
    }
    &__button + &__button {
        margin-left: 5px;
    }

    &__button {
        &_active {
            background-color: $color-beige;
            color: $color-black;
        }
    }
    &__gallery {
        @include for-large-up {
            height: 1145px;
            padding: 0 20px;
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include for-large-up {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__images + &__images {
        margin-top: 25px;
        @include for-large-up {
            // margin-top: 60px;
        }
    }

    &__img-wrapper {
        overflow: hidden;
    }
    &__img {
        transition: all 0.2s;
        &:hover {
            transform: scale(1.1);
        }
    }

    &__img-wrapper + &__img-wrapper {
        margin-top: 25px;
        @include for-large-up {
            margin-top: 0;
        }
    }
}
