.price {
    padding-bottom: 80px;
    @include for-middle-up {
        padding: 0 20px 100px;
    }
    @include for-large-up {
        padding: 0 20px 100px;
    }
    &__title {
        margin-bottom: 50px;
        @include for-large-up {
            margin-bottom: 60px;
        }
    }

    &__cards {
        @include for-middle-up {
            display: flex;
            flex-wrap: wrap;
        }
        @include for-large-up {
            display: flex;
            justify-content: space-between;
        }
    }

    &__card + &__card {
        margin-top: 50px;
        @include for-middle-up {
            margin-top: 0;
        }
    }
}

.service {
    padding: 40px 0;
    margin: 0 auto;
    max-width: 420px;
    border: 3px solid $color-beige;
    text-align: center;
    @include for-middle-up {
        margin-bottom: 40px;
        width: 100%;
    }
    @include for-large-up {
        max-width: 450px;
        margin: 0;
    }

    &__title {
        font-family: $merriweather;
        font-weight: $weight-bold;
        font-size: 28px;
        line-height: 56px;
    }

    &__price {
        font-family: $merriweather;
        font-weight: $weight-bold;
        font-size: 24px;
        line-height: 48px;
        color: $color-beige;
        margin: 20px 0;
    }

    &__description {
        font-size: 18px;
        line-height: 36px;
        margin: 0;
    }

    &__btn {
        margin-top: 40px;
        background-color: $color-beige;
        color: #000000;
    }
}
