// Цветa
$color-beige: #bdae82;
$color-black: #000000;
$color-white: #ffffff;

// Рамки
// $border-light: solid 1px #0000000d;

// Размер шрифта
$font-size-lg: 1.6rem;
$font-size-base: 1rem;
$font-size-sm: 0.9rem;

// Шрифты
$inter: "Inter", sans-serif;
$merriweather: "Merriweather", serif;

//Начертание шрифта
$weight-bold: 700;
$weight-regular: 400;

// Анимация
$anime-in: 0.4s;
$anime-out: 0.5s;
