.video {
    margin-bottom: 80px;
    @include for-large-up {
        padding: 0 20px;
        margin-bottom: 100px;
    }
    &__title {
        margin-bottom: 50px;
        @include for-large-up {
            margin-bottom: 60px;
        }
    }

    &__container {
        position: relative;
    }

    &__content {
        height: 418px;
        position: relative;
        overflow: hidden;

        @include for-middle-up {
            height: 705px;
        }

        &:hover .controls {
            transform: translateY(0);
        }
    }

    &__player {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__play {
        position: absolute;
        margin: auto;
        display: flex;
        width: 100%;
        top: calc(50% - 75px);
    }
    &__play-icon {
        background-image: url("../assets/img/play_unvisited.png");
        background-repeat: no-repeat;
        margin: 0 auto;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            background-image: url("../assets/img/play_hover.png");
        }
    }
}
.video {
    &__controls {
    }
}

.controls {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%) translateY(-5px);
    transition: all 0.2s;

    &__bar {
        height: 10px;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $color-black;
    }

    &__beige {
        height: 10px;
        background-color: $color-beige;
    }

    &__play {
        padding: 10px;
        button {
            background: none;
            border: 0;
            outline: 0;

            cursor: pointer;
        }
        button:before {
            content: "";
            background-image: url("../assets/svg/play.svg");
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            display: inline-block;
        }

        button.play:before {
            content: "";
            background-image: url("../assets/svg/play.svg");
        }
        button.pause:before {
            content: "";
            background-image: url("../assets/svg/pause.svg");
        }
    }
    &__volume {
        padding: 10px;
        display: flex;
        align-items: center;

        &:hover input[type="range"] {
            width: 100px;
            opacity: 1;
        }

        button {
            background: none;
            border: 0;
            outline: 0;

            cursor: pointer;
        }
        button:before {
            content: "";
            background-image: url("../assets/svg/volume.svg");
            background-repeat: no-repeat;
            width: 36px;
            height: 36px;
            display: inline-block;
        }

        button.volume:before {
            content: "";
            background-image: url("../assets/svg/volume.svg");
        }
        button.mute:before {
            content: "";
            background-image: url("../assets/svg/mute.svg");
        }
    }
}

input[type="range"] {
    -webkit-appearance: none !important;
    background: #b3b3b3;
    height: 7px;
    margin-left: 14px;
    width: 0;
    opacity: 0;
    transition: all 0.2s;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: $color-beige;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
